*{margin:0;
	padding:0;
	box-sizing:border-box;
		
}
.container{
	width:90%;
	margin :0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.align-center {
	align-items:center;
	}
.text-end{
text-align:end;
	}
.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}
.col-3{
	width:25%;
	padding:0 15px;
}
.col-4{
	width:33.33%;
	padding:0 15px;
}
.col-5{
	width:41.66%;
	padding:0 15px;
}
.col-6{
	width:50%;
	padding:0 15px;
}
.col-7{
	width:58.33%;
	padding:0 15px;
}
.col-8{
	width:66.66%;
	padding:0 15px;
}
.col-9{
	width:75%;
	padding:0 15px;
}
.col-10{
	width:83.33%;
	padding:0 15px;
}
.col-11{
	width:91.66%;
	padding:0 15px;
}
.col-12{
	width:100%;
	padding:0 15px;
}
header{
	padding:20px 0;
	position:sticky;
	top:0;
}
header a{ 
color:black;
text-decoration:none;
}
.list{
	display:flex;
	justify-content: space-evenly;
}
.list li{
	list-style:none;
}
.list li a{
	display: inline-block;
	color: #7f7f90;
	padding:relative;
	position: relative;
	padding-bottom:5px;
}
.btn a{
	background-color: red;
	color:#fff;
	padding: 8px 30px;
	border-radius:50px;
	display:inline-block;
	transition: all 0.5s ease;
}
.list li .active{
	color:black;
	border-bottom:2px solid red;
	padding-bottom: 5px;
}
header h1 a{
	position: relative;
}
header h1 a::after{
	content:  "";
	position: absolute;
	width: 4px;
	height: 4px;
	background-color:red;
	bottom: 6px;
	border-radius: 50%;
	right:-4px;
	}
.list li a::after{
	content:  "";
	position: absolute;
	width: 0%;
	height: 2px;
	background-color:red;
    left:0;
	bottom:0;
	transition: all 0.5s ease;
	}
.list li a:hover::after{
	width:100%;
}
.btn a:hover{
	background-color:#ce1212cc;
}
.banner{
		background-color:#eee;
		padding: 80px;
}
.banner-item{
	background-color:#eee;
	padding-top: 80px;
	}
.banner-item h2{
	color:black;
	font-size:60px;
	font-weight:00;
	
	}
	h2{
		font-family: 'Amatic SC', cursive;
	}
.banner-item p{
	color:black;
	font-size:14px;
	padding-top:20px;
}
.banner-btn{
	padding-top:25px;
}
.banner-btn a{
	padding-top:10px  40px;
	text-decoration:none;
}
.banner-img img{
     width:85%;
}
.banner-btn a.bg-none{
     background-color:transparent;
     color:black;
     font-size:20px;
}
.banner-btn a.item1{
	background-color:#ce1212cc;
     color:black;
     font-size:20px;
	 display:inline-block;
}

.banner-btn a.b-shad{
	background-color: red;
	color:#fff;
	padding: 8px 30px;
	border-radius:50px;
	display:inline-block;
	transition: all 0.5s ease;
}

.banner-btn a.b-shad:hover{
	background-color:#ce1212cc;
	/* box-shadow:0px 4px 15px #ce1212cc; */
	    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

.banner-btn a.bg-none i {
	color:red;
}
